
<h6>Membership Decision</h6>
<div class="row">
    <div class="twelve-columns">
        <label>
            <input type="radio" name="decision">
            <span class="label-body">Deny</span>
        </label>
        <label>
            <input type="radio" name="decision">
            <span class="label-body">Cancel</span>
        </label>
        <label>
            <input type="radio" name="decision">
            <span class="label-body">Pend</span>
        </label>
    </div>
</div>