
<h6>Forwarding / Email</h6>
<div class="row">
    <div class="one-half column">
        <label for="user">Forward To</label>
        <select class="u-full-width" name="user">
            <option value="0">Select a User</option>
            <option value="0">Employed</option>
            <option value="0">Unemployed</option>
            <option value="0">Homemaker</option>
            <option value="0">Disability</option>
        </select>
    </div>
    <div class="one-half column">
        <label for="email">Send Email To</label>
        <select class="u-full-width" name="user">
            <option value="0">Select a User</option>
            <option value="0">Employed</option>
            <option value="0">Unemployed</option>
            <option value="0">Homemaker</option>
            <option value="0">Disability</option>
        </select>
    </div>
</div>