
<h6>Notes</h6>
<div class="row">
    <div class="one-half column">
        <label for="existingNotes">Existing Notes</label>
        <textarea class="u-full-width" name="existingNotes" disabled></textarea>
    </div>
    <div class="one-half column">
        <label for="notes">Additional Notes</label>
        <textarea class="u-full-width" name="notes"></textarea>
    </div>
</div>