
<h6>Contact Information</h6>
<div class="row">
    <div class="one-third column">
        <label for="firstName">First Name</label>
        <input class="u-full-width" type="text" name="firstName">
    </div>
    <div class="one-third column">
        <label for="middleName">Middle Name</label>
        <input class="u-full-width" type="text" name="middleName">
    </div>
    <div class="one-third column">
        <label for="lastName">Last Name</label>
        <input class="u-full-width" type="text" name="lastName">
    </div>
</div>