
<h6>Prime Member Information</h6>
<div class="row">
    <div class="three columns">
        <label for="firstName">Title</label>
        <select class="u-full-width" name="firstName">
            <option value="Mr">Mr.</option>
            <option value="Ms">Ms.</option>
            <option value="Mrs">Mrs.</option>
            <option value="Dr">Dr.</option>
        </select>
    </div>
    <div class="nine columns">
        <label for="lastName">Last Name</label>
        <input class="u-full-width" type="text" name="lastName">
    </div>
</div>
<div class="row">
    <div class="six columns">
        <label for="firstName">First Name</label>
        <input class="u-full-width" type="text" name="firstName">
    </div>
    <div class="four columns">
        <label for="middleName">Middle Name</label>
        <input class="u-full-width" type="text" name="middleName">
    </div>
    <div class="two columns">
        <label for="lastName">Suffix</label>
        <input class="u-full-width" type="text" name="lastName">
    </div>
</div>
<div class="row">
    <div class="one-half column">
        <label for="firstName">SSN / Tax ID #</label>
        <input class="u-full-width tax-id" type="password" name="firstName" id="txtssn">
        <div class="show-hide-eye">
            <i id="icon" class="fa fa-eye-slash" onclick="showHideEye(this, 'txtssn');"></i>
        </div>
    </div>
    <div class="one-half column">
        <label for="middleName">Birth Date</label>
        <input class="u-full-width date" type="text" name="middleName">
    </div>
</div>