
<h6>Physical/Home Address</h6>
<div class="row">
    <div class="twelve columns">
        <label for="firstName">Street</label>
        <input class="u-full-width" type="text" name="firstName">
    </div>
</div>
<div class="row">
    <div class="twelve columns">
        <label for="firstName">Extra Address</label>
        <input class="u-full-width" type="text" name="firstName">
    </div>
</div>
<div class="row">
    <div class="six columns">
        <label for="firstName">City</label>
        <input class="u-full-width" type="text" name="firstName">
    </div>
    <div class="three columns">
        <label for="state">State</label>
        <select class="u-full-width" name="state">
        </select>
    </div>
    <div class="three columns">
        <label for="firstName">Zip Code</label>
        <input class="u-full-width zipcode" type="text" name="firstName">
    </div>
</div>