@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="member-summary__wrapper">
    <div class="container">
        <div class="jumbotron mb-5">
            <div class="text-center">
                <i class="fad fa-users"></i>
                <h1 class="display-4">Account Member summary</h1>
            </div>
        </div>
        <div class="member-list">
            <div class="card member-card mb-3">
                <div class="card-body card-border-bottom">

                    <div class="member-detail row">
                        <div class="member-detail__item col col-12 col-sm-6 col-md-3">
                            <label>Address</label>
                            <address>
                                123, E. Main <br />
                                Apt 45<br />
                                St. Clare A. LA 36598
                            </address>
                        </div>
                        <div class="member-detail__item col col-12 col-sm-6 col-md-3">
                            <label>Birthdate</label>
                            <p>26/06/0995</p>
                        </div>
                        <div class="member-detail__item col col-12 col-sm-6 col-md-3">
                            <label>Birthdate</label>
                            <p>26/06/0995</p>
                        </div>
                        <div class="member-detail__item col col-12 col-sm-6 col-md-2">
                            <label>Birthdate</label>
                            <p>26/06/0995</p>
                        </div>
                        <div class="member-detail__item col col-12 col-sm-6 col-md-1">
                            <a href="javascript:;" class="link link-primary" data-bs-toggle="modal" data-bs-target="#memeber_edit">Edit</a>
                        </div>
                    </div>
                    
                </div>
                <div class="card-body card-border-bottom">

                    <div class="member-detail row">
                        <div class="member-detail__item col col-12 col-sm-6 col-md-3">
                            <label>Address</label>
                            <address>
                                123, E. Main <br />
                                Apt 45<br />
                                St. Clare A. LA 36598
                            </address>
                        </div>
                        <div class="member-detail__item col col-12 col-sm-6 col-md-3">
                            <label>Birthdate</label>
                            <p>26/06/0995</p>
                        </div>
                        <div class="member-detail__item col col-12 col-sm-6 col-md-3">
                            <label>Birthdate</label>
                            <p>26/06/0995</p>
                        </div>
                        <div class="member-detail__item col col-12 col-sm-6 col-md-2">
                            <label>Birthdate</label>
                            <p>26/06/0995</p>
                        </div>
                        <div class="member-detail__item col col-12 col-sm-6 col-md-1">
                            <a href="javascript:;" class="link link-primary" data-bs-toggle="modal" data-bs-target="#memeber_edit">Edit</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">

                    <div class="member-detail row">
                        <div class="member-detail__item col col-12 col-sm-6 col-md-3">
                            <label>Address</label>
                            <address>
                                123, E. Main <br />
                                Apt 45<br />
                                St. Clare A. LA 36598
                            </address>
                        </div>
                        <div class="member-detail__item col col-12 col-sm-6 col-md-3">
                            <label>Birthdate</label>
                            <p>26/06/0995</p>
                        </div>
                        <div class="member-detail__item col col-12 col-sm-6 col-md-3">
                            <label>Birthdate</label>
                            <p>26/06/0995</p>
                        </div>
                        <div class="member-detail__item col col-12 col-sm-6 col-md-2">
                            <label>Birthdate</label>
                            <p>26/06/0995</p>
                        </div>
                        <div class="member-detail__item col col-12 col-sm-6 col-md-1">
                            <a href="javascript:;" class="link link-primary" data-bs-toggle="modal" data-bs-target="#memeber_edit">Edit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="memeber_edit" tabindex="-1" aria-labelledby="memeber_editLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="memeber_editLabel">Unknown</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form class="mb-0">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Email</label>
                                    <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputPassword4">Password</label>
                                    <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputAddress">Address</label>
                                <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                            </div>
                            <div class="form-group">
                                <label for="inputAddress2">Address 2</label>
                                <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="inputCity">City</label>
                                    <input type="text" class="form-control" id="inputCity">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputState">State</label>
                                    <select id="inputState" class="form-control">
                                        <option selected="">Choose...</option>
                                        <option>...</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="inputZip">Zip</label>
                                    <input type="text" class="form-control" id="inputZip">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="custom-control custom-checkbox m-0">
                                    <input type="checkbox" class="custom-control-input">
                                    <span class="custom-control-label">Check me out</span>
                                </label>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>