
<div class="row">
    <div class="twelve-columns">
        <label for="creditType">Type of Credit Applied For</label>
        <label>
            <input type="radio" name="creditType">
            <span class="label-body">Open End Home Equity Line of Credit</span>
        </label>
        <label>
            <input type="radio" name="creditType">
            <span class="label-body">Closed End Home Equity 2nd Mortgage</span>
        </label>
        <label>
            <input type="radio" name="creditType">
            <span class="label-body">Closed End Home Equity 2nd Mortgage</span>
        </label>
    </div>
</div>
<hr class="u-full-width" />

<div class="row">
    <div class="twelve-columns">
        <label for="creditType">Property Type</label>
        <label>
            <input type="radio" name="creditType">
            <span class="label-body">Single Family Home</span>
        </label>
        <label>
            <input type="radio" name="creditType">
            <span class="label-body">Condominium</span>
        </label>
        <label>
            <input type="radio" name="creditType">
            <span class="label-body">Townhouse</span>
        </label>
        <label>
            <input type="radio" name="creditType">
            <span class="label-body">Other</span>
        </label>
    </div>
</div>
<hr class="u-full-width" />

<div class="row">
    <div class="three columns">
        <label for="firstName">Amount Requested</label>
        <input class="u-full-width" type="text" name="amount">
    </div>
    <div class="six columns">
        <label for="lastName">Purpose</label>
        <input class="u-full-width" type="text" name="purpose">
    </div>
    <div class="three columns">
        <label for="lastName">Term (CE Only)</label>
        <input class="u-full-width" type="text" name="loanTerm">
    </div>
</div>
<div class="row">
    <div class="three columns">
        <label for="firstName">Approximate Value of Home</label>
        <input class="u-full-width" type="text" name="firstName">
    </div>
    <div class="nine columns">
        <label for="middleName">Property Address</label>
        <input class="u-full-width" type="text" name="middleName">
    </div>
</div>
<hr class="u-full-width" />

<div class="row">
    <div class="twelve-columns">
        <label for="paymentMethod">Payment Method</label>
        <label>
            <input type="radio" name="paymentMethod">
            <span class="label-body">Cash</span>
        </label>
        <label>
            <input type="radio" name="paymentMethod">
            <span class="label-body">Military Allotment</span>
        </label>
        <label>
            <input type="radio" name="paymentMethod">
            <span class="label-body">Payroll Deduction</span>
        </label>
        <label>
            <input type="radio" name="paymentMethod">
            <span class="label-body">Automatic Payment (ACH)</span>
        </label>
    </div>
</div>