
<p>
    Check the type of credit for which you are applying.
</p>
<div class="row">
    <div class="twelve-columns">
        <label>
            <input type="radio" name="decision">
            <span class="label-body text-bold">Individual Credit</span>
            <span class="label-body">&ndash; If applying for individual credit, only the first Applicant section needs to be completed.</span>
        </label>
        <label>
            <input type="radio" name="decision">
            <span class="label-body text-bold">Joint Credit</span>
            <span class="label-body">&ndash; If applying for joint credit with spouse or another person, be sure to complete the second Applicant section.</span>
        </label>
    </div>
</div>