
<h6>Employer</h6>
<div class="row">
    <div class="one-half column">
        <label for="employmentStatus">Employment Status</label>
        <select class="u-full-width" name="employmentStatus">
            <option value="0">Employed</option>
            <option value="0">Unemployed</option>
            <option value="0">Homemaker</option>
            <option value="0">Disability</option>
        </select>
    </div>
    <div class="one-half column">
        <label for="employerName">Employer Name</label>
        <input class="u-full-width" type="text" name="employerName">
    </div>
</div>
<div class="row">
    <div class="twelve-columns">
        <label for="employerAddress">Employer Address</label>
        <input class="u-full-width" type="text" name="employerAddress">
    </div>
</div>