
<h6>Occupation</h6>
<div class="row">
    <div class="one-half column">
        <label for="occupation">Occupation</label>
        <input class="u-full-width tax-id" type="text" name="occupation">
    </div>
    <div class="one-half column">
        <label for="income">Monthly Income</label>
        <input class="u-full-width" type="text" name="income" value="0.00">
    </div>
</div>