
:root {
    --primary-color: #447C9D;
    --primary-dark: #1C3657;
    --secondary-color: #A7D9DD;
    --success-color: #77CE64;
    --warning-color: #DBE537;
    --error-color: #DE1B28;
    --info-color: #294E7E;
    --gray: #B5CDD0;
    --light-gray: #F1FAEF;
    --dark-gray: #313131;
    --menu-text: #f2f2f2;
}

.text-primary {
    color: var(--primary-color) !important;
}

.text-secondary {
    color: var(--secondary-color) !important;
}

.text-success {
    color: var(--success-color) !important;
}

.text-warning {
    color: var(--warning-color) !important;
}

.text-error {
    color: var(--error-color) !important;
}

.text-info {
    color: var(--info-color) !important;
}

.text-black {
    color: black !important;
}

.text-white {
    color: white !important;
}

.text-bold {
    font-weight: bold !important;
}


.bg-primary {
    background-color: var(--primary-color) !important;
}

.bg-secondary {
    background-color: var(--secondary-color) !important;
}

.bg-success {
    background-color: var(--success-color) !important;
}

.bg-warning {
    background-color: var(--warning-color) !important;
}

.bg-error {
    background-color: var(--error-color) !important;
}

.bg-info {
    background-color: var(--info-color) !important;
}

.bg-black {
    background-color: black;
}

.bg-white {
    background-color: white;
}
