
html, body {
    height: 100%;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:after, :before {
    box-sizing: border-box;
}

#main {
    position: relative;
    top: 0px;
}

.sidebar-container ~ #main {
    margin-left: 400px;
    padding-left: 25px;
}

#topbar {
    width: 100%;
    min-width: 100%;
    height: 60px;
    z-index: 20;
    top: 0px;
    left: 300px;
    position: fixed;
    background-color: white;
    padding-top: 20px;
    box-shadow: 0 6px 5px 0 gray;
}

#form-area {
    margin-top: 125px;
    margin-bottom: 70px;
}

#page-title {
    margin-left: 25px;
}

a {
    font-style: normal;
}

hr.dark {
    border-top: 1px solid var(--dark-gray);
}

hr.light {
    border-top: 1px solid var(--light-gray);
}

.text-center {
    text-align: center;
}

.text-bold {
    font-weight: bold;
}

.cs__btn {
    display: block;
    width: 100%;
    margin-bottom: 0;
    height: 38px;
    padding: 0 22px;
    color: #555;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
}

.cs__btn-primary {
    background-color: var(--primary-color);
    color: white;
}

    .cs__btn-primary:hover {
        color: white;
        opacity: 0.8;
    }

.action-row {
    bottom: 0;
    position: fixed;
    width: calc(100% - 300px);
    padding-top: 20px;
    background-color: white;
    box-shadow: 0 -6px 5px grey;
    left: 300px;
}

    .action-row .row {
        max-width: 960px;
        margin: auto;
        padding-left: 100px;
    }

.button.u-pull-right {
    margin-left: 10px;
    margin-right: 10px;
}

.topbar-inner {
    display: flex;
    align-items: center;
}

    .topbar-inner .navigation-btn {
        padding: 0;
        margin-right: 15px;
        border: none;
        margin-bottom: 0;
    }

        .topbar-inner .navigation-btn svg {
            width: 40px;
            height: 40px;
        }

.exit {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.show-hide-eye {
    display: block;
    height: 20px;
    padding-top: 10px;
    font: 22px sans-serif;
    position: relative;
}

    .show-hide-eye i.fa {
        position: absolute;
        right: 20px;
        bottom: 53px;
        cursor: pointer;
    }

/*Programme Page CSS Start*/
body {
    font-size: 14px;
}

.btn {
    padding: 6px 20px;
    font-size: 14px;
}

.programme-content {
    max-width: 550px;
    margin: auto;
    padding: 50px;
}

.programme-content__head {
    text-align: center;
    margin-bottom: 35px;
}

    .programme-content__head .title {
        margin-bottom: 10px;
        color: #000;
    }

    .programme-content__head .subtitle {
        font-size: 21px;
        margin-bottom: 0;
        color: var(--dark-gray);
    }

.acc {
    margin: 0 auto;
    max-width: 800px;
    padding-left: 40px;
    position: relative;
}

.programme-accordion .accordion-item {
    margin-bottom: 12px;
    position: relative;
    border: solid 1px var(--gray);
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

    .programme-accordion .accordion-item .card-header {
        padding: 0px;
        border: none;
    }

    .programme-accordion .accordion-item:before {
        content: "";
        position: absolute;
        left: -34px;
        top: 68px;
        bottom: 0;
        height: calc(100% + 12px);
        margin: auto;
        width: 2px;
        background-color: var(--gray);
    }

    .programme-accordion .accordion-item.completed:before {
        background-color: var(--success-color);
    }

    .programme-accordion .accordion-item:last-child::before {
        display: none;
    }

    .programme-accordion .accordion-item .accordion-button {
        background: white;
        color: var(--primary-dark);
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 10px 20px;
        font-size: 14px;
        position: relative;
        text-align: left;
        border-radius: 5px;
        width: 100%;
        margin-bottom: 0px;
        text-decoration: none;
        border: none;
        font-weight: 500;
        height: auto;
        transition: all ease-in-out 0.3s;
    }

        .programme-accordion .accordion-item .accordion-button:after {
            transition: all ease-in-out 0.3s;
        }

        .programme-accordion .accordion-item .accordion-button i {
            width: 16px;
            text-align: center;
            margin-right: 10px;
        }

        .programme-accordion .accordion-item .accordion-button:before {
            position: absolute;
            content: "";
            left: -40px;
            top: 15px;
            width: 14px;
            height: 14px;
            border-radius: 10px;
            background-color: white;
            border: solid 2px var(--gray);
        }

        .programme-accordion .accordion-item .accordion-button[aria-expanded="true"]:before {
            border-color: var(--success-color);
        }

    .programme-accordion .accordion-item.completed .accordion-button:before {
        border-color: var(--success-color);
        background-color: var(--success-color);
    }

    .programme-accordion .accordion-item .accordion-collapse {
        border: none;
        border-top: solid 1px var(--gray);
        border-radius: 0 0 5px 5px;
        transition: all ease-in-out 0.3s;
    }

    .programme-accordion .accordion-item .accordion-body {
        color: black;
        margin: 0;
        padding: 15px 20px 20px;
        text-align: left;
    }

        .programme-accordion .accordion-item .accordion-body p {
            margin-bottom: 16px;
        }

        .programme-accordion .accordion-item .accordion-body ul {
            padding-left: 0px;
            margin-bottom: 20px;
            list-style-type: disc;
        }

            .programme-accordion .accordion-item .accordion-body ul li {
                margin-bottom: 0px;
            }
/*Programme Page CSS End*/
.form-group {
    margin-bottom: 1rem;
}

.member-card .card-header {
    display: flex;
    align-items: center;
    padding: 8px 10px;
}

    .member-card .card-header .card-title {
        margin-bottom: 0px;
    }

    .member-card .card-header .link {
        margin-left: auto;
    }

.member-summary__wrapper {
    padding: 4rem 0;
}

.member-list {
    margin-bottom: 25px;
}

.member-detail__item label {
    font-size: 16px;
    font-weight: 600;
    display: block;
}

.jumbotron {
    background-color: #A7D9DD;
    border-radius: .3rem;
    padding: 4rem 2rem;
    color: #1C3657;
}

    .jumbotron i {
        font-size: 45px;
    }

    .jumbotron h1 {
        font-weight: 600;
        margin-bottom: 0px;
    }

@media (max-width: 1199px) {
    #topbar {
        left: 0;
    }

    .action-row {
        left: 0;
        width: 100%;
    }
}

@media (max-width: 767px) {
    .topbar-inner h4 {
        font-size: 22px;
    }

    .topbar-inner .navigation-btn {
        margin-right: 10px;
    }

    #page-title {
        margin-left: 15px;
    }

    .programme-content__head .title {
        font-size: 26px;
    }

    .programme-content__head .subtitle {
        font-size: 16px
    }

    .programme-content__head {
        padding-left: 0px;
    }
}

@media (max-width: 360px) {


    .topbar-inner h4 {
        font-size: 18px;
        margin-bottom: 0px;
    }

    .action-row .row {
        padding-left: 0px;
    }
}

.card-border-bottom {
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.verified {
    color: darkgreen;
}

.member-detail__item a {
    color: #77CE64;
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    /*padding-left: 50px;*/
}

.form-container {
    padding: 25px;
}

input[type="datetime-local"],
input[type="date"] {
    height: 38px;
    padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
}

input[type="datetime-local"],
input[type="date"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

    input[type="datetime-local"]:focus {
        border: 1px solid var(--primary-color);
        outline: 0;
    }


.form-control, .form-select {
    font-size: 1.5rem;
}
