
html, body {
    height: 100%;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:after, :before {
    box-sizing: border-box;
}

#main {
    position: relative;
    top: 0px;
}

.sidebar-container ~ #main {
    margin-left: 400px;
    padding-left: 25px;
}

#topbar {
    width: 100%;
    min-width: 100%;
    height: 60px;
    z-index: 20;
    top: 0px;
    left: 300px;
    position: fixed;
    background-color: white;
    padding-top: 20px;
    box-shadow: 0 6px 5px 0 gray;
}

#form-area {
    margin-top: 125px;
    margin-bottom: 70px;
}

#page-title {
    margin-left: 25px;
}

a {
    font-style: normal;
}

hr.dark {
    border-top: 1px solid var(--dark-gray);
}

hr.light {
    border-top: 1px solid var(--light-gray);
}

.text-center {
    text-align: center;
}

.text-bold {
    font-weight: bold;
}

.cs__btn {
    display: block;
    width: 100%;
    margin-bottom: 0;
}

.cs__btn-primary {
    background-color: var(--primary-color);
    color: white;
}

.cs__btn-primary:hover {
    color: white;
    opacity: 0.8;
}

.action-row {
    bottom: 0;
    position: fixed;
    width: calc(100% - 300px);
    padding-top: 20px;
    background-color: white;
    box-shadow: 0 -6px 5px grey;
    left: 300px;
}

.action-row .row {
    max-width: 960px;
    margin: auto;
    padding-left: 100px;
}

.button.u-pull-right {
    margin-left: 10px;
    margin-right: 10px;
}

.topbar-inner {
    display: flex;
    align-items: center;
}

.topbar-inner .navigation-btn {
    padding: 0;
    margin-right: 15px;
    border: none;
    margin-bottom: 0;
}

.topbar-inner .navigation-btn svg {
    width: 40px;
    height: 40px;
}

.exit {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.show-hide-eye {
    display: block;
    height: 20px;
    padding-top: 10px;
    font: 22px sans-serif;
    position: relative;
}

.show-hide-eye i.fa {
    position: absolute;
    right: 20px;
    bottom: 53px;
    cursor: pointer;
}

/*Programme Page CSS Start*/
.programme-content {
    max-width: 550px;
    margin: auto;
    padding: 50px 0;
}

.programme-content__head {
    text-align: center;
    margin-bottom: 35px;
}

.programme-content__head .title {
    margin-bottom: 10px;
    color: #000;
}

.programme-content__head .subtitle {
    font-size: 21px;
    margin-bottom: 0;
    color: var(--dark-gray);
}

.acc {
    margin: 0 auto;
    max-width: 800px;
    padding-left: 40px;
    position: relative;
}

.programme-accordion .card {
    margin-bottom: 12px;
    position: relative;
    border: solid 1px var(--gray);
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}
.programme-accordion .card .card-header {
    padding: 0px;
    border: none;
}

.programme-accordion .card:before {
    content: "";
    position: absolute;
    left: -35px;
    top: 75px;
    bottom: 0;
    height: calc(100% + 12px);
    margin: auto;
    width: 3px;
    background-color: var(--dark-gray);
}

.programme-accordion .card.completed:before {
    background-color: var(--primary-color);
}

.programme-accordion .card:last-child::before {
    display: none;
}

.programme-accordion .card .btn {
    background: white;
    color: var(--primary-dark);
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 1.5em 1.5em;
    font-size: 14px;
    position: relative;
    text-align: left;
    border-radius: 5px 5px;
    width: 100%;
    margin-bottom: 0px;
    text-decoration: none;
}

.programme-accordion .card .btn svg {
    width: 20px;
    margin-right: 10px;
    fill: var(--primary-dark);
}

.programme-accordion .card .btn:before {
    position: absolute;
    content: "";
    left: -42px;
    top: 20px;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background-color: white;
    border: solid 3px var(--gray);
}

.programme-accordion .card .btn.active:before {
    border-color: var(--primary-color);
}

.programme-accordion .card .btn::after {
    width: 8px;
    height: 8px;
    border-right: 2px solid var(--primary-dark);
    border-bottom: 2px solid var(--primary-dark);
    position: absolute;
    right: 20px;
    content: " ";
    top: calc(50% - 4px);
    transform: rotate(-45deg);
    transition: all 0.2s ease-in-out;
}

.programme-accordion .card .btn.active::after {
    transform: rotate(45deg);
    transition: all 0.2s ease-in-out;
}

.programme-accordion .card.completed .btn:before {
    border-color: var(--primary-color);
    background-color: var(--primary-color);
}

.programme-accordion .card .card-body {
    background: white;
    color: black;
    display: none;
    margin: 0;
    padding: 15px 20px 20px;
    text-align: left;
    border-top: solid 1px var(--gray);
    border-radius: 0 0 5px 5px;
}

.programme-accordion .card .card-body p {
    margin-bottom: 16px;
}

.programme-accordion .card .card-body ul {
    padding-left: 0px;
    margin-bottom: 20px;
    list-style-type: disc;
}

.programme-accordion .card .card-body ul li {
    margin-bottom: 0px;
}
/*Programme Page CSS End*/

@media (max-width: 1199px) {
    #topbar {
        left: 0;
    }

    .action-row {
        left: 0;
        width: 100%;
    }
}

@media (max-width: 767px) {
    .topbar-inner h4 {
        font-size: 22px;
    }

    .topbar-inner .navigation-btn {
        margin-right: 10px;
    }

    #page-title {
        margin-left: 15px;
    }

    .programme-content__head .title {
        font-size: 26px;
    }

    .programme-content__head .subtitle {
        font-size: 16px
    }

    .programme-content__head {
        padding-left: 0px;
    }
}

@media (max-width: 360px) {


    .topbar-inner h4 {
        font-size: 18px;
        margin-bottom: 0px;
    }

    .action-row .row {
        padding-left: 0px;
    }
}
